@model IEnumerable<MarioSpecialtyFoods.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h2>All Products</h2>
<hr />

<div class="card-deck">
    @foreach (var product in Model)
    {
	    <div class="card text-center">
          <div class="card-header">
            <h3>@Html.ActionLink(product.ProductName, "Details", new {id = product.ProductId})</h3>
          </div>
          <div class="card-block">
            <h4 class="card-text">$@Html.DisplayFor(modelProduct => product.Cost)</h4>
          </div>
        </div>
    }
</div>

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create new", "Create")
}