@{
    ViewData["Title"] = "Mario's Specialty Foods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mario's Specialty Foods</h1>
<hr />

<h3>@Html.ActionLink("Check out our wonderful products!", "Index", "Products")</h3>

<footer>
    @Html.ActionLink("Admin", "Index", "Account")
</footer>